In [43]:
import pandas as pd
import numpy as np
import seaborn as sns

In [44]:
p_df = sns.load_dataset("penguins")

‚û°Ô∏è We will predict the body mass:

using:

In [45]:
p_df= p_df.dropna()

important! RESET the index

In [46]:
p_df = p_df.reset_index(drop=True)

In [47]:
#üëÄ other option If we want to put everything together!

# p_df= p_df.dropna().reset_index(drop=True)

In [48]:
p_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
329,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
330,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
331,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
332,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [10]:
p_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

###  ‚û°Ô∏è We want to predict the weight of the penguins based on their flipper_length!

In [29]:
X = p_df["flipper_length_mm"]
y = p_df["body_mass_g"]

### Train - Test Split

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 100)

### Model Generation

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
X_train = np.array(X_train).reshape(-1,1)
y_train = np.array(y_train).reshape(-1,1)

In [38]:
lm=LinearRegression()

model = lm.fit(X_train, y_train)

In [40]:
model.coef_

array([[47.95351722]])

In [39]:
model.intercept_

array([-5431.38337764])

### Test

In [41]:
y_test

178    3350.0
175    4550.0
329    4850.0
46     3450.0
288    4600.0
        ...
205    3525.0
265    4400.0
128    3425.0
184    2700.0
292    4625.0
Name: body_mass_g, Length: 100, dtype: float64

In [51]:
X_test = np.array(X_test).reshape(-1,1)

In [52]:
y_test= np.array(y_test).reshape(-1,1)

In [53]:
y_pred = model.predict(X_test)

In [57]:
y_test.shape

(100, 1)

In [55]:
len(X_test)

100

In [59]:
compare =pd.DataFrame({"y_test": list(y_test), "y_pred": list(y_pred)})

In [60]:
compare

      y_test                y_pred
0   [3350.0]  [3535.9243424635315]
1   [4550.0]   [4399.087652419619]
2   [4850.0]   [4878.622824617447]
3   [3450.0]  [3679.7848941228804]
4   [4600.0]   [4590.901721298751]
..       ...                   ...
95  [3525.0]  [3871.5989630020104]
96  [4400.0]   [4638.855238518534]
97  [3425.0]  [3535.9243424635315]
98  [2700.0]  [3775.6919285624444]
99  [4625.0]   [4734.762272958098]

[100 rows x 2 columns]

### Model Evaluation

In [62]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse