In [2]:
import pandas as pd
import numpy as np

In [3]:
print('df = pd.DataFrame(np.random.randn(10, 4))')
df = pd.DataFrame(np.random.randn(7, 4))
print(df)
print("\npieces = [df[:2], df[2:4], df[4:]]")
pieces = [df[:2], df[2:4], df[4:]]
pieces

df = pd.DataFrame(np.random.randn(10, 4))
          0         1         2         3
0  0.669872  0.434571  1.076213 -0.294885
1  0.250560 -1.304167 -1.189545 -0.425154
2 -1.479929 -0.191541  1.544864 -0.336096
3  0.590517 -0.146324  1.565536  1.257579
4 -0.616795  0.183153  0.783949 -0.397318
5  0.024415  0.878688  1.403007  1.429199
6  0.983243 -1.054199  1.538600  0.348439

pieces = [df[:2], df[2:4], df[4:]]

[          0         1         2         3
 0  0.669872  0.434571  1.076213 -0.294885
 1  0.250560 -1.304167 -1.189545 -0.425154,
           0         1         2         3
 2 -1.479929 -0.191541  1.544864 -0.336096
 3  0.590517 -0.146324  1.565536  1.257579,
           0         1         2         3
 4 -0.616795  0.183153  0.783949 -0.397318
 5  0.024415  0.878688  1.403007  1.429199
 6  0.983243 -1.054199  1.538600  0.348439]

In [4]:
print("\npd.concat(pieces)")
pd.concat(pieces)

pd.concat(pieces)

          0         1         2         3
0  0.669872  0.434571  1.076213 -0.294885
1  0.250560 -1.304167 -1.189545 -0.425154
2 -1.479929 -0.191541  1.544864 -0.336096
3  0.590517 -0.146324  1.565536  1.257579
4 -0.616795  0.183153  0.783949 -0.397318
5  0.024415  0.878688  1.403007  1.429199
6  0.983243 -1.054199  1.538600  0.348439