In [43]:
import pandas as pd
import numpy as np
import seaborn as sns

In [44]:
p_df = sns.load_dataset("penguins")

‚û°Ô∏è We will predict the body mass:

using:

In [45]:
p_df= p_df.dropna()

important! RESET the index

In [46]:
p_df = p_df.reset_index(drop=True)

In [47]:
#üëÄ other option If we want to put everything together!

# p_df= p_df.dropna().reset_index(drop=True)

In [48]:
p_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
329,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
330,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
331,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
332,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [10]:
p_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

###  ‚û°Ô∏è We want to predict the weight of the penguins based on their flipper_length!

In [29]:
X = p_df["flipper_length_mm"]
y = p_df["body_mass_g"]

### Train - Test Split

In [30]:
from sklearn.model_selection import train_test_split

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 100)

### Model Generation

In [36]:
from sklearn.linear_model import LinearRegression

In [65]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state = 42)

In [66]:
X_train = np.array(X_train).reshape(-1,1)
y_train = np.array(y_train).reshape(-1,1)

In [67]:
lm=LinearRegression()

model = lm.fit(X_train, y_train)

In [68]:
model.coef_

array([[51.32743793]])

In [69]:
model.intercept_

array([-6118.66754338])

### Test

In [70]:
y_test

25     3250.0
309    4875.0
73     4000.0
195    3675.0
57     4050.0
        ...
15     3400.0
6      4675.0
209    4000.0
93     4100.0
30     4150.0
Name: body_mass_g, Length: 100, dtype: float64

In [71]:
X_test = np.array(X_test).reshape(-1,1)

In [72]:
y_test= np.array(y_test).reshape(-1,1)

In [73]:
y_pred = model.predict(X_test)

In [74]:
y_test.shape

(100, 1)

In [75]:
len(X_test)

100

In [76]:
compare =pd.DataFrame({"y_test": list(y_test), "y_pred": list(y_pred)})

In [77]:
compare

      y_test                y_pred
0   [3250.0]  [3017.6164075600063]
1   [4875.0]   [5276.023676332345]
2   [4000.0]   [3890.182852312955]
3   [3675.0]  [4044.1651660928874]
4   [4050.0]   [3736.200538533023]
..       ...                   ...
95  [3400.0]    [2812.30665585343]
96  [4675.0]   [3890.182852312955]
97  [4000.0]   [4506.112107432684]
98  [4100.0]   [3736.200538533023]
99  [4150.0]  [3941.5102902395993]

[100 rows x 2 columns]

### Model Evaluation

In [78]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse

In [79]:
mse(y_test,y_pred)

138931.09920252117

In [80]:
mae(y_test,y_pred)

299.3904775585272